<img [ngSrc]="pictureItem.url" [alt]="pictureItem.id" width="400" height="400" />
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium obcaecati ullam magni error molestiae nostrum
    reprehenderit velit maxime dignissimos quasi delectus laboriosam veritatis, quibusdam ab, a expedita nobis
    cupiditate temporibus!
    Sequi ad incidunt fugiat, iusto doloremque inventore ab distinctio eligendi cumque? Dolorum, quam, amet, eos quaerat
    ipsam autem minus vitae temporibus dicta repellendus veritatis incidunt possimus enim iste? Placeat, eveniet.
    Molestias ratione eligendi magni ducimus? Vero, itaque. Similique cumque eius consectetur nulla quod suscipit quis
    velit repellat odit praesentium fuga tempore ipsum nisi exercitationem, atque laboriosam quasi incidunt mollitia
    maxime.
    Enim libero recusandae nesciunt aperiam laboriosam, corporis eos cumque ut fugit. Ipsam, non, fugit sapiente alias
    commodi rerum eum veritatis magnam corporis consequatur deleniti est excepturi sequi fuga veniam libero!
    Animi, culpa laudantium! Ullam, hic fugiat maiores voluptatibus quisquam, similique veritatis praesentium iste
    voluptas itaque ut, architecto quae maxime ducimus veniam! Harum, libero aspernatur ipsam obcaecati inventore
    laboriosam deleniti perferendis.</p>